body {
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden !important;
}

.mockup-container {
  margin: 0 auto;
  background-image: url("../images/mockup.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 750px;
  z-index: 100000;
}

.screen {
  position: relative;
  margin: 0 auto;
  width: 330px;
  height: 727px;
}

.margins {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
}

.top-icons {
  font-size: 30px;
  color: #88DEE9;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 15px;
}

.content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.content img {
  width: 315px;
  height: 315px;
}

.btn-coral {
  width: 200px;
  height: 44px;
  /* box-shadow: 0px 4px 4px 0px #FFA1A140; */
  filter: drop-shadow(0px 4px 4px rgba(255, 161, 161, 0.25));
  background-color: #FF8181;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  justify-content: center;
  margin: 40px auto 0;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
}

/* .bot-navbar{
  height: 88px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 515px;
} */
.bot-navbar {
  position: absolute;
  bottom: 0;
  right: 3px;
  height: 88px;
  width: 305px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: white;
}

.bot-icons {
  font-size: 32px;
  color: #CDCDCD;
  cursor: pointer;
}

.bot-active {
  color: #FF8181;
}

/* CALENDAR-PAGE */
.calendar-top-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f1f1;
  align-items: center;
  width: 323px;
  height: 123px;
  margin-left: 2px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  top: 25px;
  z-index: 1;
}

.fa-chevron-left {
  color: #323232;
  font-size: 25px;
  margin-top: auto;
  padding-left: 10px;
}

#calendarContent button {
  justify-content: left;
}

.calDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.calDropdown h2 {
  padding-right: 10px;
  color: #323232;
}

.fa-chevron-down {
  color: #323232;
}

.btn-underline {
  /* box-shadow: 0px 4px 4px 0px #FFA1A140; */
  border: none;
  background-color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FF8383;
  justify-content: left;
  margin: 5px auto 0;
  font-style: italic;
  text-decoration: underline;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
}

.calendarImage {
  width: 95%;
  padding-left: 10px;
}

.calendarLegend {
  padding-left: 160px;
  position: absolute;
  z-index: 2;
}

.nextMonth {
  display: flex;
  align-items: center;
  width: 45%;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  color: #CBCBCB;
}

.nextMonth h2 {
  padding-right: 10px;
}

.greydrop {
  color: #cbcbcb;
}

.blackimg {
  position: relative;
  z-index: 5;
  width: 99%;
  align-items: center;
}

.calTopItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calTopItems .fa-chevron-left {
  padding-right: 60px;
}

/* EXERCISE-PAGE */
.exercise-top-nav {
  position: relative;
  top: 25px;
  z-index: 5;
}
.pad-chev{
  padding-left: 10px;
}

.dropdown-menu{
  width: 305px !important;
  font-family: 'Poppins', sans-serif;
}
.dropdown {
  padding-left: 10px;

}



.dropdown button {
  display: flex !important;
  justify-content: start !important;
  width: 310px;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}

.exercisebackground {
  background-image: url("../images/exercisepage/background.png");
  width: 325px;
  z-index: 1;
  position: relative;
  border-radius: 35px;
  align-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  left: 2px;
}

.bot-navbar-exc {
  position: absolute;
  bottom: 0;
  right: 3.5px;
  height: 88px;
  width: 325px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: white;
}

.exerciseStart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57%;
}

.btn-light {
  width: 315px;
}

.drop-excercise {
  margin-top: 30px !important;
  background-color: white !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E0E0E0 !important;
  border-radius: 20px !important;
  width: 310px;
}

/* EXERCISE-PAGE */
/*INSIGHTS PAGE*/
.union1 {
  position: absolute;
  top: -270px;
  left: 235px;
}

.blue-img-cont {
  position: relative;
}

.insights-content {
  width: 315px;
  height: 540px;
  overflow: auto;
  text-align: center;
  padding-right: 5px;

}
.insights-content::-webkit-scrollbar {
  display: none;
}
.union2 {
  position: absolute;
  top: 1560px;
  left: 245px;
}

.bubbles-img {
  width: 47px;
  height: 24px;
}

.content h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.bubble-heading {
  padding-top: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: 4px;
  color: #2aa9ba;
}

.ins-btn{
  margin: 0 auto 100px;
}

.title-p {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #6b6b6b;
}

.title-h3 {
  margin: 0 auto 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #050505;
}

/*STATS PAGE*/
.statsTop {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 10px;
  font-size: 18px;
}

.statsTop h2 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.statsTop img {
  width: 90%;
  padding-left: 15px;
  padding-top: 10pxX;
}

.statscalDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-top: 30px;
  color: #323232;
  font-family: 'Poppins', sans-serif;
}

.statshead {
  font-size: 18px;
  padding-right: 10px;
  padding-top: 5px;
}

.statstotal {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.statstotal img {
  width: 49%;
}

.statsgraphpie img {
  padding-left: 15px;
  width: 90%;
  padding-bottom: 40px;
  padding-top: 20px;
}

.statsContent {
  width: 325px;
  height: 520px;
  overflow: auto;
  text-align: justify;
  padding-left: 10px;
}

.statsContent::-webkit-scrollbar {
  display: none;  
}

.bot-navbar-stats{
  position: absolute;
  bottom: 0;
  right: 3px;
  height: 88px;
  width: 325px !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: white;
}








.dropdown-menu {
  background-color: white !important;
  width: 100%;
  border: 2px solid #E0E0E0 !important;
  border-radius: 20px !important;
}

.dropdown-item {
  margin: 10px auto !important;
  display: flex !important;
  text-align: center;
  align-items: center;
}

.dropdown-item img {
  margin-right: 16px;
  ;
}

.drop-excercise img {
  margin-right: 16px;
}

/* updatecycle*/
.updatecycleBG {
  width: 99%;
  z-index: 1;
  border-radius: 35px;
  align-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding-left: 1px;
}

.updatecycleBG img {
  padding-top: 25px;
  border-radius: 35px;
}

.btn-smred {
  background-color: white;
  border: none;
  color: #FF8383;
  text-decoration: underline;
  font-style: italic;
}

.top-left {
  position: absolute;
  top: 140px;
  left: 20px;
}

.top-right {
  position: absolute;
  top: 140px;
  right: 20px;
}

.bot-item-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bot-navbar p {
  color: #CDCDCD;
  text-decoration: none !important;
  font-size: 12px;
  margin-top: 0;
}

.text-active {
  color: #FF8383 !important;
}

.bot-navbar-exc p {
  color: #CDCDCD;
  text-decoration: none !important;
  font-size: 12px;
  margin-top: 0;
}

.bot-navbar-stats p {
  color: #CDCDCD;
  text-decoration: none !important;
  font-size: 12px;
  margin-top: 0;
}
