body{
  font-family: 'Poppins', sans-serif;
}
.mockup-container {
  margin: 0 auto;
  background-image: url(/images/mockup.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 750px;
}

.screen {
  position: relative;
  margin: 0 auto;
  width: 330px;
  height: 727px;
}

.margins {
  padding-left: 10px;
  padding-right: 10px;
}

.top-icons {
  font-size: 30px;
  color: #88DEE9;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 15px;
}

.content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

}

.content img {
  width: 315px;
  height: 315px;
}



.btn-coral {
  width: 200px;
  height: 44px;
  /* box-shadow: 0px 4px 4px 0px #FFA1A140; */
  filter: drop-shadow(0px 4px 4px rgba(255, 161, 161, 0.25));
  background-color: #FF8181;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  justify-content: center;
  margin: 40px auto 0;
  font-weight: 500;
  line-height: 27px;

}

/* .bot-navbar{
  height: 88px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 515px;
} */
.bot-navbar {
  position: absolute;
  bottom: 0;
  height: 88px;
  width: 307px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.bot-icons {
  font-size: 32px;
  color: #CDCDCD;
}

.bot-active {
  color: #FF8181;
  text-shadow: 0px 4px 10px 0px #FFA1A180;
}
